.nav {
    display: flex;
    height: 100%;
    padding: 0px 4px;
    justify-content: center;
    align-items: center;
    align-self: stretch; 
    border: 0;
    border-radius: 0;
}
.nav:hover{
    padding: 4px;
    color: #0043B5;
    font-weight: 700;
}
