div {
    display: flex;
    height: 100%;
    padding: 0px 4px;
    justify-content: center;
    align-items: center;
    align-self: stretch; 
}

div:hover{
    background: linear-gradient(
        180deg,
        rgba(205, 226, 255, 0) 34.5%,
        #0969ff 100%
      );
}