article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    max-width: 352px;
    color: #fff;
    text-align: center;
    padding: 24px;
}

img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}