.travel-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 0px 32px 0px 32px;
    background-color: #CDE2FF;
    color:black;
}

.travel-card:hover {
    background-color: #0969FF;
    color:white;
}