header {
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 64px 12px;
    border: 1px solid rgba(9, 105, 255, 1);
    gap: 20px;
}

.logo {
    height: 80px;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: auto 0;
}

.auth-actions {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: auto 0;
}