header {
    position:sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-bottom: 1px solid #0969FF;
    background-color: white;
    padding-top: 24px;
    padding-bottom: 12px;
}

.logo {
    height: 100%;
    width: 240px;
    padding-left: 40px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch; 
    padding: 0px 4px;
    gap: 24px; 
}

.auth-actions {
    display: flex;
    align-items: flex-start;
    padding-right: 40px;
    gap: 12px; 
}