.not-found{
    height: 656px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.four-o-four{
    margin: -64px;
    padding: 0;
    color: #000;
    font-size: 240px;
    font-weight: bolder;
}