:root {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start; 
  align-content: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body { 
  width: 100vw; 
  height: 100vh;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #0043B5;
  font-weight: 600;
}

body {
  margin: 0;
  display: flex;
  place-items:inherit;
  min-width: 320px;
}

.huge {
  color: #000;
  font-size: 56px;
  font-weight: 400;
  line-height: 120%;
}
.huge-special {
  color: #000000;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  line-height: 120%;
}
h1 {
  color: #000;
  text-align: center;
  font-size: 56px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 120%;
}
h2 {
  font-size: 32px;
  line-height: 1.1;
  line-height: 120%;
}
p {
  color: #000000;
  font-size: 1em;
}
.blue{
  color: #0969FF;
}
.meta {
  color: #8E8E8E;
  font-size: 0.8em;
  font-family: inherit;
  font-variant: small-caps;
}

label {
  color: #000000;
  font-size: 1em;
  margin-bottom: 8px;
}
input {
  display: flex;
  padding: 12px;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #8E8E8E;
}

button {
  height: 100%;
  background-color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}