footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 64px;
}

.social-icons {
    display: flex;
    gap: 24px;
}
.icon-footer {
    width: 32px;
    height: auto;
}