footer {
    width: 100%;
    padding: 24px 64px 24px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background: #CDE2FF; 
}

.social-icons {
    display: flex;
    gap: 16px;
}
.icon-footer {
    width: 24px;
    height: auto;
}