.travel-recommendations {
    display: flex;
    flex-direction: column;
  }

  .preferences-section {
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 988px;
    flex-direction: column;
    font-weight: 600;
    padding: 0 20px;
  }
  .tag-container {
    align-self: center;
    display: flex;
    gap: 8px;
    color: #fff;
  }
  .preference-tag {
    font-family: Poppins, sans-serif;
    border-radius: 4px;
    background-color: #fc8c0c;
    padding: 4px 12px;
  }
  .recommendations-title {
    color: #000;
    text-align: center;
    margin-top: 16px;
    font: 40px Poppins, sans-serif;
  }
  .destinations-grid {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    width: 100%;
    padding: 0 20px;
    gap: 20px;
  }
  .destination-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    aspect-ratio: 0.79;
    flex-grow: 1;
    color: #fff;
    text-align: center;
    padding: 24px;
  }
  .destination-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .destination-title {
    position: relative;
    margin-top: 78px;
    font: 500 32px Poppins, sans-serif;
  }
  .destination-description {
    position: relative;
    margin-top: 12px;
    font: 400 24px/36px Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  }